body {
  background: linear-gradient(to bottom, #231942, #5e548e);
  color: #fff;
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}
main {
  margin: 5px 5px 5px 5px;
  border-radius: 1%;
}
/* container1 */
.containers {
  width: 100%;
  height: 960px;
  display: block;
}
#lista-redes ul {
  margin: 0% 1%;
  padding: 0%;
  list-style: none;
}
#lista-redes ul li a img {
  width: 30px;
  margin-top: 1%;
}
#container-1 img {
  width: 250px;
  border-radius: 50%;
}
#container-1 img:hover {
  width: 31px;
  border-radius: 50%;
}
#container-perfil img {
  width: 250px;
  border-radius: 50%;
   box-shadow: 1px 1px 40px 10px #1e1f1e;
}
#container-perfil img:hover{
  box-shadow: 1px 1px 30px 7px #b5b6b5;
}
#container-perfil img:hover {
  width: 250px;
  border-radius: 50%;
}
#container-perfil {
  text-align: center;
}
#container-perfil h1 {
  font-size: xx-large;
  margin: 1%;
  color: #e76f51;
}
#container-perfil p {
  color: #fff;
}

/* container2 */
#container-2 {
  text-align: center;
  display: block;
  align-items: center;
}
#container-2 picture img {
  margin-top: 5%;
  border-radius: 0% 10% 0% 10%;
  border: 2px solid #fff;
  width: 300px;
  box-shadow: 1px 1px 40px 5px #1e1f1e;
}
#about-me {
  height: 500px;
  color: #1d2020;
}
#about-me h2 {
  font-size: x-large;
  color: #e76f51;
}
#about-me hr {
  border: 1px solid #e76f51;
  width: 30%;
}
#about-me p {
  color: #fff;
}
#container-datos p {
  padding-left: 1%;
}

/* container3 */
#container-3 {
  text-align: center;
  align-items: center;
}
#contaner-head {
  width: 100%;
}
#contaner-head h3 {
  color: #e76f51;
  font-size: xx-large;
}
#contaner-head h2 {
  color: #ffffff;
}
#container-3 hr {
  width: 50%;
  border: 1px solid #e76f51;
}

#skills {
  margin-top: 10%;
  height: 70%;
  text-align: center;
}
#skills h2 {
  color: #e76f51;
  font-size: x-large;
}
#skills p {
  color: #ffffff;
  font-size: larger;
  margin: 0%;
}
/* containe4 */

#container-4 {
  text-align: center;
  border-radius: 0% 0% 1% 1%;
  width: 100%;
  height: 500px;
}
#container-4 h1 {
  font-size: xx-large;
  padding-top: 1%;
  color: #e76f51;
}
.carrucel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.element {
  flex: 1 0 auto;
  margin: 0 10px;
  width: 300px;
  height: 400px;
}
.element img {
  width: 300px;
  height: 395px;
}
/* footer */
footer {
  color: #000000;
  text-align: center;
  width: 100%;
}
footer p {
  padding: 1%;
}
