body {
  color: #fff;
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
  background: url(https://www.xtrafondos.com/wallpapers/resized/estructura-abstracta-3d-gris-oscuro-3593.jpg?s=large) repeat;
}
main {
  margin: 1%;
}
/* container1 */
.containers {
  width: 100%;
  height: 930px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  border-radius: 30px;
  box-shadow: 1px 1px 15px 5px #000000;
  backdrop-filter: blur(25px);
}
#lista-redes ul {
  margin: 0% 1%;
  padding: 0%;
  list-style: none;
}
#lista-redes ul li a img {
  width: 30px;
  margin-top: 1%;
}
#container-1 img {
  width: 250px;
  border-radius: 50%;
}
#container-perfil img {
  width: 250px;
  border-radius: 50%;
   box-shadow: 1px 1px 20px 5px #1e1f1e;
}
#container-perfil {
  text-align: center;
}
#container-perfil h1 {
  font-size: xx-large;
  margin: 1%;
  color: #e76f51;
}
#container-perfil p {
  color: #fff;
}

/* container2 */
#container-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container-2 picture img {
  margin-top: 5%;
  border-radius: 0% 10% 0% 10%;
  border: 2px solid #fff;
  width: 300px;
  box-shadow: 1px 1px 40px 5px #1e1f1e;
}
#about-me {
  height: 500px;
  color: #1d2020;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-me h2 {
  font-size: x-large;
  color: #e76f51;
}
#about-me hr {
  border: 1px solid #e76f51;
  width: 30%;
}
#about-me div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
}
#about-me div p {
  color: #fff;
  column-count:1;
	column-gap: 3em;
	column-rule: 1px solid #bbb;
	column-width: 90px;
}
#container-datos p {
  color: #fff;
  padding-left: 1%;
}

/* container3 */
#container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#contaner-head {
  width: 100%;
}
#contaner-head h3 {
  color: #e76f51;
  font-size: xx-large;
}
#contaner-head h2 {
  color: #ffffff;
}
#container-3 hr {
  width: 50%;
  border: 1px solid #e76f51;
}

#skills {
  height: 70%;
  text-align: center;
}
#skills h2 {
  color: #e76f51;
  font-size: x-large;
}
#skills p {
  color: #ffffff;
  font-size: larger;
  margin: 0%;
}
/* containe4 */

#container-4 {
  text-align: center;
  border-radius: 0% 0% 1% 1%;
  width: 100%;
  border-radius: 20px;
  height: 500px;
  backdrop-filter: blur(25px);
  box-shadow: 1px 1px 15px 5px #000000;
}
#container-4 h1 {
  font-size: xx-large;
  padding-top: 1%;
  color: #e76f51;
}
.carrucel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.element {
  flex: 1 0 auto;
  margin: 0 10px;
  width: 300px;
  height: 400px;
}
.element img {
  width: 300px;
  height: 395px;
  box-shadow: 1px 1px 7px 1px #000000;
  border-radius: 5px;
}
/* footer */
footer {
  color: #ffffff;
  text-align: center;
  width: 100%;
}
footer p {
  padding: 1%;
}
